<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RadMusic</title>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="./css/Article-List-1.css">
    <link rel="stylesheet" href="./css/Article-List.css">
    <link rel="stylesheet" href="./css/Footer-Dark.css">
    <link rel="stylesheet" href="./css/Highlight-Phone.css">
    <link rel="stylesheet" href="./css/Projects-Horizontal.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/Team-Grid.css">
</head>

<body oncontextmenu="return false">
    <div id="sampler_promo">
        <div class="jumbotron">
            <h1 class="text-uppercase text-center">RAD MUSIC</h1>
            <p class="text-center">"Cultivating a better scene" </p>
            <p class="text-center"><a class="btn btn-default btn-lg" role="button" href="https://radsampler.bandcamp.com" target="blank">RAD SAMPLER</a></p>
        </div>
    </div>
    <div id="divider"></div>
    <div class="article-list">
        <div class="container-fluid">
            <div class="intro">
                <h1 class="text-center" id="BookingWithRad">Booking With Rad</h1>
                <p class="text-center">"Recording Artist Distribution (RAD Music) is a company dedicated to cultivating a better music scene by hosting shows and handling booking for specific artists. We also create sampler CDs of local artists which are distributed across
                    the United States." </p>
            </div>
            <div class="row articles">
                <div class="col-md-4 col-sm-6 item">
                    <a href="#"><img class="img-responsive" style="display:inline-block" src="./img/KamKooks1.jpg"></a>
                    <h3 class="name">Artist Roster</h3>
                    <p class="description">Rad Music currently books Kam Cooks (Hip Hop/Rap) and Valkyrie Missle. If you would like to submit your music to us please send us an email. We would love to hear what you have. <a href="mailto:submissions@radmusicofficial.com" style="color:inherit"><strong>click here</strong></a></p>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <a href="#"><img class="img-responsive" style="display:inline-block" src="./img/RadRockCrowd.jpg"></a>
                    <h3 class="name">Tour Booking</h3>
                    <p class="description">Tour booking with Rad is a different experince from other major companies you may work with. We take a hands on approach and make sure to get you the best tour possible. If you would like to inquire about tour booking please contact
                        us at <a href="mailto:booking@radmusicofficial.com" style="color:inherit"><strong>click here</strong></a></p>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <a href="#"><img class="img-responsive" style="display:inline-block" src="./img/RadMusicDJ2.jpg"></a>
                    <h3 class="name">Show Promotion</h3>
                    <p class="description">Rad Music prides itself on promoting great acts at many venues across the U.S. If you would like us to help you promote your next show please send us an email at <a href="mailto:promotion@radmusicofficial.com" style="color:inherit"><strong>click here</strong></a></p>
                </div>
            </div>
        </div>
    </div>
    <div id="divider1"></div>
    <div class="container-fluid">
        <h1 class="text-center" id="UpComingShows">Upcoming Shows</h1></div>
    <div class="tour-dates">
        <script type='text/javascript' src='http://widget.bandsintown.com/javascripts/bit_widget.js'></script><a href="http://www.bandsintown.com/Recording%20Artist%20Distribution" target="blank" class="bit-widget-initializer" data-artist="Recording Artist Distribution" data-text-color="white">Recording Artist Distribution Tour Dates</a>
    </div>
    <div id="divider2"></div>
    <div class="footer-dark">
        <footer>
            <div class="container-fluid">
                <div class="row visible-xs-block visible-sm-block visible-md-block visible-lg-block">
                    <div class="col-md-6 col-md-push-6 item text">
                        <h3>Rad Music</h3>
                        <p>We pride ourselves on booking, promotion and tour booking for great artists from many cities. Please contact us if you would like to know more about our services or to inquire email us.</p>
                    </div>
                    <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                        <h3>Social </h3>
                        <ul>
                            <li><a href="http://radsampler.bandcamp.com" target="blank">Bandcamp </a></li>
                            <li><a href="https://www.instagram.com/radmusicofficial/" target="blank">Instagram </a></li>
                            <li><a href="https://twitter.com/RADMusic_" target="blank">Twitter </a></li>
                            <li><a href="https://www.facebook.com/pg/recordingartistdist/about/?ref=page_internal" target="blank">FaceBook </a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                        <h3>Contact</h3>
                        <ul>
                            <li><a href="#">559-917-1739 </a></li>
                            <li><a href="info@rad-music.com" target="blank">info@rad-music.com </a></li>
                            <li>
                                <a href="#"> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="copyright">Rad Music© 2016 - Designed and Hosted by <a href="www.memnon.io" target="blank">Memnon</a>.</p>
            </div>
        </footer>
    </div>
    <script src="./js/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
